@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,900&display=swap');

body {
  color: white;
  text-shadow: 0 0 4px rgba(33, 33, 33, 0.28);

  font-family: 'Nunito', sans-serif;
}

p, h1, h2, h3, h4 {
  margin: 0;
}
